.nav_main {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  color: white;
}
.scrolled {
  background-color: rgb(20, 20, 20);  ; 
  transition: background-color 0.6s ease;
}

.right-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 10px;

}

.left-nav{
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
  align-items: center;
  width: 250px;

}
.nav_icons{
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav_accounts{
  width:45px;
  display: flex;
  justify-content:flex-start;
  align-items: center;

}
.accounts{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}
.nav_accounts_name{
  cursor: pointer;
}

.nav_logo {
  cursor: pointer;
  position: fixed;
  left: 30px;
  width: 90px;
}

.nav_avatar {
  cursor: pointer;
  position: fixed;
  padding: 0;
  margin: 0;
  right: 60px;
  width: 40px;
}


.nav_list {
  cursor: pointer;

  }


.list_component {
  padding-left: 120px;
  font-size: small;
   font-weight:500;
   color: rgb(254, 253, 253);
}


.navbar {
  --bs-navbar-padding-x: initial !important; /* or unset */

}
.navbar-nav {
 --bs-nav-link-padding-x: initial !important; /* or unset */
}