
.plan_list {
  padding-left: 10px;

  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-bottom: rgb(84, 82, 82) 1px solid;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.plan_list ul {
  list-style-type: none; /* Remove default list styles */
  margin: 0;
  padding: 0;
}

.plan_list li {
  margin-left: 20px; /* Add spacing between list items */
  margin-bottom: 10px;
  display: flex;
  gap: 300px;
  align-items: center;
  text-align: center;
}

.plan_list li:hover {
  background-color: rgb(248, 244, 244,0.05);
  cursor: pointer;
  opacity: 1;
}

.plan_list button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.plan_wrapper{
  width: 150px;
  align-items: start;
  text-align: start;
}

.plan_wrapper span {
  text-align: start;
  
}

.plan_feature{
  font-size: xx-small;
  font-weight: 500;
  color: #999;
  text-align: left;
}

.subscribe {
  width: 200px;
  margin-left: 10px;
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
}

.subscribe:hover {
  background-color: #ac0314;
}

.current_subscription {
  width: 200px;
  margin-left: 10px;
  background-color: gray;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
}

.current_subscription:hover {
  background-color: gray;
}

.signout_button {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.signout {
  background-color: #e50914;
  width: 100%;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
}

.signout:hover {
  background-color: rgb(154, 4, 4);
}

@media (max-width: 768px) {
 

  .plan_list li {
    gap: 50px;
  }


}
